aiohttp==3.9.0
Pyrogram==2.0.97
beautifulsoup4==4.8.0
Pillow==10.1.0
tgcrypto==1.2.3
sqlmodel==0.0.6
asyncpg==0.27.0
psycopg2-binary==2.9.6
aiosqlite==0.17.0
fpdf2==2.6.0
SQLAlchemy==1.4.31
psutil==5.9.0
telegraph[aio]==2.1.0
alembic==1.8.1
loguru==0.6.0
pypdf==3.11.1
